<h1>My First Angular 2 App</h1>
<div *ngIf="_socketService.currentRoom">Current room : {{_socketService.currentRoom.name}}</div>


<button (click)="sendMess()">Send</button>

<input type="text" [ngFormControl]="messageControl">
Value :{{messageControl.value}}
<ul>
  <li *ngFor="#message of _socketService.messages$ | async">
    {{message.content}}
  </li>
</ul>

<h3> Available rooms </h3>

<input type="text" [ngFormControl]="roomControl">
<button (click)="saveRoom()">Add Room</button>

  <ul>
      <li *ngFor="#room of rooms">
        {{room.name}} <button (click)="join(room)">Join</button>
      </li>
  </ul>
