<div class="md-card">
    <div class="md-card-content">
        <h2>Create new sensor</h2>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <form (ngSubmit)="onSubmit()" #sensorform="ngForm">

                    <div class="uk-form-row">
                        <div class="uk-grid">


                            <div class="uk-width-medium-1-2">
                                <label>Sensor ID</label>
                                <input  type="text" [(ngModel)]="model.sens_id" ngControl="sens_id"  #name="ngForm" class="md-input" />
                            </div>

                            <div class="uk-width-medium-1-2">
                                <label>Sensor Name</label>
                                <input  type="text" [(ngModel)]="model.name" ngControl="name"  #name="ngForm" class="md-input" />
                            </div>
                        </div>

                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid">


                            <div class="uk-width-medium-1-2">
                                <label>Min Value</label>
                                <input  type="text" [(ngModel)]="model.min_value" ngControl="min_value"  #name="ngForm" class="md-input" />
                            </div>

                            <div class="uk-width-medium-1-2">
                                <label>Max Value</label>
                                <input  type="text" [(ngModel)]="model.max_value" ngControl="max_value"  #name="ngForm" class="md-input" />
                            </div>
                        </div>

                    </div>

                    <div class="uk-form-row">
                            <label>Description</label>
                            <input ype="text" class="form-control"
                                   [(ngModel)]="model.description"
                                   ngControl="description"  #name="ngForm" class="md-input">
                    </div>

                    <button type="submit" class="btn btn-default" [disabled]="!sensorform.form.valid">Submit</button>


                </form>
        </div>
        </div>

    </div>
</div>
